{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
<form action="{{.AuthorizationURL}}" method="post">
{{with .Form}}
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="{{.Password}}">
    <i class="form-error">{{.PasswordErr}}</i>
    <button type="submit" class="button">Submit</button>
{{end}}
</form>
{{end}}
