<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/static/css/custom.css">

  <title>{{template "title" .}}</title>
</head>
<body>
  <div class="container">
    <h3><a href="{{.MenuURL}}">JOURNALW</a></h3>
    {{template "content" .}}
  </div>
</body>
</html>
