{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
<form action="{{.CreateNoteURL}}" method="post">
{{with .Form}}
    <label for="text">Note text</label>
    <textarea name="text" id="text">{{.Text}}</textarea>
    <i class="form-error">{{.TextErr}}</i>
    <button type="submit">Create</button>
{{end}}
</form>
{{end}}
