{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
<ul>
  <li><a href="{{.CreateNoteURL}}">Create note</a></li>
  <li><a href="{{.SavedNotesURL}}">Saved notes</a></li>
  <li><a href="{{.SettingsURL}}">Settings</a></li>
</ul>
{{end}}
