{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
<h3>{{.NoteDate}}</h3>
{{range .Paragraphs}}
<p>{{.}}</p>
{{end}}

{{if .EditAllowed}}
<a href="{{.EditNoteURL}}"><button class="button">Edit</button></a>
{{end}}

<form action="{{.DeleteNoteURL}}" method="post" style="display:inline-block;">
    <button type="submit">Delete</button>
</form>
{{end}}