{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
{{if .Notes}}
<ul>
    {{range .Notes}}
    <li><a href="/note/{{.ID}}/">{{.FormatDate}}</a></li>
    {{end}}
</ul>
{{else}}
<i class="form-error">No saved notes</i>
{{end}}
{{end}}