{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
<form action="{{.SettingsURL}}" method="post">
{{with .Form}}
    {{if .Change}}
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="{{.Password}}">
    <i class="form-error">{{.PasswordErr}}</i>
    {{end}}
    <label for="new-password">New password</label>
    <input type="password" name="new-password" id="new-password" value="{{.NewPassword}}">
    <i class="form-error">{{.NewPasswordErr}}</i>
    <button type="submit" class="button">Save</button>
{{end}}
</form>
{{end}}
