* {
    color: black;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    font-size: 1rem;
    font-family: serif;
}

a, a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
}

button {
    margin: 5px 0;
    padding: 10px 16px;
    border: none;
    border-radius: 4%;
    background-color: rgb(37, 37, 37);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: black;
}


textarea {
    font-family: inherit;
    font-size: inherit;
    resize: vertical;
    width: 100%;
    height: 30rem;
}

input {
    display: block;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid black;
}

.form-error {
    display: block;
    margin: 10px 0;
    font-size: 0.8rem;
    color: rgb(185, 48, 48);
}

@media (max-width: 600px) {
    ul {
        padding: 0 20px;
    }

    .container {
        width: 95%;
    }
}